<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='../static/css/styles.css' type='text/css' rel='stylesheet'>

    <script>
    function rubber_page()
    {
        let win_width = window.innerWidth || document.body.clientWidth;

        let decor_img = document.getElementsByClassName('decor')[0];

        let advert_text = document.getElementsByTagName('h1')[0];
        let telegram_text = document.getElementsByTagName('h2')[0];
        let contacts_text = document.getElementsByTagName('h3')[0];

        let h1_initsize = 60;
        let h2_initsize = 40;
        let h3_initsize = 30;

        let h1_size;
        let h2_size;
        let h3_size;

        let left_pad = win_width/2 - 697;

        let decor_size;

        // Изменение размера шрифта advert_text, telegram_text и contacts_text
        if (win_width < 660) {
            h2_size = Math.round(h2_initsize - (660 - win_width)/10.6);
            telegram_text.style.fontSize = h2_size + 'px';
        }

        if (win_width < 770) {
            h3_size = Math.round(h3_initsize - (770 - win_width)/18);
            contacts_text.style.fontSize = h3_size + 'px';
        }

        if (win_width < 1455){
            h1_size = Math.round(h1_initsize - (1455 - win_width)/20.8);
            advert_text.style.fontSize = h1_size + 'px';
        }

        // Изменение отступов telegram_text и contacts_text
        if (left_pad > 10) {
            telegram_text.style.paddingLeft = left_pad + 'px';
            contacts_text.style.paddingLeft = left_pad + 'px';
        }
        if (h2_size >= h2_initsize && h3_size >=h3_initsize) {
            telegram_text.style.paddingLeft = left_pad + 'px';
            contacts_text.style.paddingLeft = left_pad + 'px';
        }

        // Изменение ширины декора
        if (win_width >= 1360) {
            // decor_initsize
            decor_size = 600 - (1920 - win_width) * 0.178571429;
            decor_img.style.width = decor_size + 'px';
        }
        if (win_width < 1360){
            decor_size = 500 - (1360 - win_width) * 0.3;
            decor_img.style.width = decor_size + 'px';
        }
    }
    </script>

</head>
<body onresize="rubber_page()">

    <div class="d-flex justify-content-center">
        <div class="btn-group" role="group" aria-label="две кнопки">
            <a href="#" class="btn btn-primary">Главная</a>
            <a href="#" class="btn btn-primary">Блог</a>
        </div>
    </div>

    <div class='header'>
        <img class="decor"  src="../static/img/decor.png" alt="decor">
        <h1>Я всегда открыт для новых проектов и<br>возможностей. Связаться со мной можно:</h1>
        <div class="splitter"></div>
        <h2>Telegram: @Vegas_Real</h2>
        <h3>Email: grafit-design@inbox.ru<br>GitHub: https://github.com/RealVegas</h3>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


